@page "/empresas/editar/{id:int}"
@using Dtos.Empresa
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Editar Empresa</PageTitle>

@if(Empresa is null){
    <p>Carregando ...</p>
}
else{
    <EditForm Model="@Empresa" OnValidSubmit="@EditarEmpresa">

    <label class="block mt-4">
        <span class="text-gray-600">Razão Socioal</span>
        <InputText @bind-Value="Empresa.RazaoSocial" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Nome Fantasia</span>
        <InputText @bind-Value="Empresa.NomeFantasia" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Cnpj</span>
        <InputText @bind-Value="Empresa.Cnpj" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Estado</span>
        <InputText @bind-Value="Empresa.Estado" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Endereco</span>
        <InputText @bind-Value="Empresa.Endereco" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Telefone</span>
        <InputText @bind-Value="Empresa.Telefone" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Cidade</span>
        <InputText @bind-Value="Empresa.Cidade" class="myif-form-input" />
    </label>

    <label class="block mt-4">
        <span class="text-gray-600">Email</span>
        <InputText @bind-Value="Empresa.Email" class="myif-form-input" />
    </label>

    <button class="myif-button-submit">Salvar</button>

</EditForm>    
}

@code{
    [Parameter]
    public int Id { get; set; }
    
    @* propriedade que irá armazenar a empresa *@
    private EmpresaCreateUpdateDto Empresa { get; set; }

    @* Buscar os dados da empresa na API *@
    protected override async Task OnInitializedAsync(){
        @* requisição *@
        Empresa = await Http.GetFromJsonAsync<EmpresaCreateUpdateDto>($"/empresas/{Id}");
    }

    private async Task EditarEmpresa(){
        @* Emvia a requisição para a API salvar a empresa *@
        await Http.PutAsJsonAsync($"/empresas/{Id}", Empresa);
        Navigation.NavigateTo("/empresas");
    }

}